body {
    background: rgb(255, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #8C001A;
    text-align: center;
}

projects { 
    display:flex; flex-wrap:wrap;
 } /* condensed to save space */

 .project {
    width: 40%;
    margin: 60px;
    padding: 30px 20px;
    background: hwb(26 43% 3%); /* pick a color */
    border-radius: 50%;
    text-align: center;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid  hwb(24 20% 4%); /* pick a color */
    display: block;
    margin: auto;
}